{% if site.giscus.enabled %}
<div class="giscus-container">
  <h3 class="giscus-container-title">评论与讨论</h3>
  <script src="https://giscus.app/client.js"
    data-repo="{{ site.giscus.repo }}"
    data-repo-id="{{ site.giscus.repo_id }}"
    data-category="{{ site.giscus.category }}"
    data-category-id="{{ site.giscus.category_id }}"
    data-mapping="{{ site.giscus.mapping }}"
    data-strict="0"
    data-reactions-enabled="{% if site.giscus.reactions_enabled %}1{% else %}0{% endif %}"
    data-emit-metadata="1"
    data-input-position="top"
    data-theme="{{ site.giscus.theme | default: 'light' }}"
    data-lang="{{ site.giscus.lang | default: 'zh-CN' }}"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
{% endif %}
